
{% extends 'engine/structural/bootstrap.html' %}

{% load bootstrap4 %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <!-- Bokeh plotting library css imports -->
    {% if bokeh_script %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh-tables.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh-widgets.css">
    {% endif %}
    <!-- Custom app styling -->
    <link href="{% static 'engine/structural/css/app.css' %}" rel="stylesheet">
{% endblock %}

{% block bootstrap4_content %}
  <div class="container">
    {% block nav %}
      {% include "engine/structural/nav.html" %}
      {{ block.super }}
    {% endblock %}

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}
          {{ block.super }}
        {% endblock %}
    </div>

{% endblock %}
