asn1crypto==0.24.0
boto==2.49.0
cffi==1.11.5
cryptography==2.3.1
dj-database-url==0.4.2
dj-static==0.0.6
Django==2.0
django-bootstrap3==10.0.1
django-bootstrap4==0.0.7
django-easy-select2==1.5.5
django-leaflet==0.24.0
django-location-field==2.0.3
django-storages==1.7.1
django-toolbelt==0.0.1
gunicorn==19.7.1
idna==2.7
numpy==1.15.1
pandas==0.23.4
postgres==2.2.1
psycopg2==2.7.5
pycparser==2.19
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2017.2
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
static3==0.7.0
whitenoise==3.3.0
