{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

{% if allResorts %}
    <ul>
    {% for resort in allResorts %}
        <li><a href="{% url 'engine:detail' resort.ResortName %}">{{ resort.ResortName }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No resorts are available.</p>
{% endif %}
